$aqua-lighter: rgb(166,233,223);
$aqua-light: rgb(139, 227, 223);
$aqua:         rgb(119, 214, 211);
$aqua-muted:   rgb(111,199,194);

$purple-lighter:rgb(225,165,190);
$purple-light:  rgb(187,131,169);
$purple:        rgb(175,118,155);
$purple-muted:  rgb(138,81,116);

$green:       rgb(146,191,112);
$green-muted: rgb(137,188,102);
$green-dark:  rgb(127,168,98);

$red:       rgb(236,92,92);
$red-muted: rgb(215,75,75);
$red-dark:  rgb(188,55,55);

$black:       #0d1b22;
$black-muted: #12222b;
$black-dark:  #0a151b;
$dark:        #494c4e;
$muted:       #576369;
$grey:        #adb6ba;
$light:       #eeeff2;
$white:       #fcfcfd;
